li {
    list-style-type: none;
}

body {
	font-family: interstate, sans-serif;
	font-size: 16px;
	 }

h2, h3, h4, h5 {
	font-family: interstate, sans-serif;
  color: #50A8FF;
}


h1 {
	font-size: 90px;
	font-weight: 800;
	font-style: normal;
	text-transform: capitalize;
	letter-spacing: 3px;
	color: #50A8FF;

}

h1:hover { color: #94EBDC; }

h2, h3, h4, h5 {
  font-size: 60px;
}

/* .cirrus header{
  height: 100vh;
  width: 100vw;
} */

p{
	font-family: interstate, sans-serif;
	font-size: 15.5px;
	font-weight:500;
  font-style: italic;
  color: #50A8FF;
}

.one{
  grid-row: 1 /2;
  grid-column: 2 /4;
  margin-top: 40px;
}

.two{
  grid-row: 2 /2;
  grid-column: 4/8;
  grid-row: 1;
  margin-top: 40px;
}

.three{
  grid-row: 2 / 6;
  grid-column: 4/8;
  margin-top: 40px;
}

.four{
  grid-row: 3/ 6;
  grid-column: 4/8;
  margin-top: 40px;
}

.subtext{
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px;
  grid-column: 4/6;
  grid-row: 8/8;
}

nav{
	font-family: interstate, sans-serif;
	font-size: 40px;
	text-transform: capitalize;
	line-height:60px;
	font-weight:500;
}

h3 {
	font-size: 28px;
  grid-column: 4;
  grid-row: 1;
}

h4 {
	font-size: 28px;
  grid-column: 4;
  grid-row: 2;
}

h5 {
  font-size: 28px;
  grid-column: 4;
  grid-row: 3;
}

blockquote {
	margin: 20px 60px;
	font-family: Helvetica, sans-serif;
}

header {margin-bottom: 20px;}

/* ensures that your images stretch the width of their containers */
img { width: 100%; }

a {
	color: #50A8FF;
	text-decoration: none;
	 }
a:hover { color: #94EBDC; }

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 40px;
	width: 60%;
	margin: auto;

}

.grid div {
	background-color: transparent;
	position: absolute;
	bottom: 20px;
	width: 50%;
	grid-area: bottom;
	padding-top: 55%;
	padding-left: 80%;
}

/* .cirrus main {
  width: 60%;
  margin: 80px auto;
} */


.subpage-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 40px;
	width: 60%;
	margin: auto;

}

.subpage-grid div {
	background-color: transparent;
	position: absolute;
	bottom: 20px;
	width: 50%;
	grid-area: bottom;
	padding-top: 55%;
	padding-left: 80%;
}

.grid-two {
  display: grid;
  width: 90%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 60px;
  margin: auto;
  padding-top: 40px;

}

footer{
	color: #94EBDC;
}

.parallax-window {
    min-height: 700px;
    background: transparent;
  }



@media only screen and (min-width:768px) {

}

@media only screen and (min-width:1224px) {

}
